.ontext
{
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 20px;
}
.onimg
{
	border: 1px solid black;
}
.onbuying
{
	text-decoration: none;
	color: white;
	background-color: rgb(204, 51, 0);
	border: 1px solid black;
	padding: 5px;
}
.onbuying:hover
{
	color: white;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
}
.onprice
{
	font-weight: 700;
	
}
.zagolovok
{
	color: black;
	font-family: 'Lato', sans-serif; 
	font-weight: 700;
	text-align: left;
	
}
